<!-- ============================================================== -->
<!-- Logo -->
<!-- ============================================================== -->
<div class="navbar-header">
  <a class="navbar-brand" routerLink="dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
    <!-- Logo icon --><b>
        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
        <!-- Dark Logo icon -->
        <img src="../assets/images/logo/logo.jpg" alt="homepage" class="dark-logo" width="70px" height="67"/>
        <!-- Light Logo icon -->
        <img src="../assets/images/logo/logo.jpg" alt="homepage" class="light-logo" width="70spx" height="67"/>
    </b>
    <!--End Logo icon -->
    <!-- Logo text -->
    <span style="margin-left:30px"> 
        <img src="../assets/images/logo/davies-logo.png" alt="homepage" class="dark-logo" width="56px" />
        <img src="../assets/images/logo/davies-logo.png" class="light-logo" alt="homepage" width="56px" />
    </span>
  </a>
</div>

<!-- ============================================================== -->
<!-- End Logo -->
<!-- ============================================================== -->