<!-- <div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
      <div>

          <h3 class="logo-name logo-name-ow">Savills</h3>

      </div>
     
    
      <p>Login in. To start your session.</p>
      
        
          <button (click)="login()" class="btn btn-primary block full-width m-b">Login</button>
      
      <p class="m-t"> <small>Savills Valuation Management &copy; 2019</small> </p>
  </div>
</div> -->

<div class="login-box">
    <div class="login-logo col-md-12">
       <!-- <img class="img-responsive" src="./assets/images/logo/logo.jpg" alt="Savilss"> -->
        <img class="img-responsive" src="./assets/images/logo/SAVILLS_LOGO_large.jpg" alt="Savilss">
    </div><!-- /.login-logo -->
    <div class="login-box-body" style="text-align: center">
        <p class="login-box-msg">Sign in to start your session</p>

        <button (click)="login()" class="btn btn-primary block full-width m-b" style="width:80%">Login</button>
       

        <p class="m-t" style="margin-top:30px;"> <small>Savills Valuation Management &copy; 2019</small> </p>
   
    </div><!-- /.login-box-body -->
    
</div>