.table-bordered {
    tfoot {
    border:none!important;
    border: 1px solid #fff!important;
        tr{
        border:none!important;
            td{
            border:none!important;
            }
        }
    }
    
}