#back_btn {
    float: right;
    padding: 5px 20px !important;
    background-color: #e46a76 !important;
}

#save_btn {
    float: right;
    padding: 5px 20px !important;
    background-color: #00c292!important;
}
